@import '~@/assets/stylesheets/config/main.scss';

.create-todolist {
  margin-top: 2.5rem;
  &__title {
    font-size: 1.438rem;
    color: $darken-gray;
    margin-bottom: .3rem;
  }
}

[type='text'].new-list,
[type='text'].new-task {
  padding: .5rem 0.85rem;
  border-color: $primary-color;
  display: block;
  margin: 0 auto .625rem;
}

.new-task-group {
  position: relative;
  .new-task-icon {
    position: absolute;
    display: inline-block;
    background-image: url(~@/assets/imgs/add-item.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    width: 1.375rem;
    height: 1.375rem;
    right: .7rem;
    bottom: .5rem;
  }
}

button {
  display: block;
  width: 12.5rem;
  margin: 1.9rem auto 0;
}

.new-todo-list {
  .content {
    position: relative;
  }
  .back-button {
    margin-top: -3rem
  }
}