$breakpoints: (
  xsmall: 600px,
  small: 960px,
  medium: 1280px,
  large: 1920px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
    }
  }
}