// YELLOW
$light-yellow: #faf4c2;
$yellow: #d3ce3e;

// WHITE
$white: #fff;

// ORANGE
$orange: #ee7733;

// GRAY
$gray: #b2afaa;
$darken-gray: #544132;

// THEME
$primary-color: $orange;
$secondary-color: $yellow;