.home-section {
  &__container {
    max-width: 31.25rem;
    margin: 10.4rem auto 0;
    text-align: center;
  }
}

.logo {
  margin-top: 2rem;
}

.navigation-container {
  margin: 4.2rem auto 0;
  width: 15.6rem;
  button:first-child {
    margin-bottom: .6rem;
  }
}