.no-radius {
  border-top: none;
  border-radius: 0;
}

.no-radius-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.not-radius-top {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}