@import '~@/assets/stylesheets/config/main.scss';

.add-item {
  background-image: url(./imgs/add-item.png);
  background-repeat: no-repeat;
  height: 1.375rem;
  width: 1.375rem;
  background-color: transparent;
  border: none;
}

.todo-lists {
  &-content {
    width: 95%;
    max-width: 37.5rem;
    margin:  2.5rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 1.438rem;
  }
}

.todo-list {
  border: .0625rem solid $green;
  border-radius: .3rem;
  width: 100%;
  margin-top: .3125rem;
  list-style-type: none;
}

.todo-item {
  &__indicator {
    cursor: pointer;
    margin: .65rem .3rem .2rem .6rem;
    gg:
      columns(20px auto 60px, 100%);
  }
  &:not(:last-child) {
    border-bottom: .0625rem solid $green;
  }
  &__control-box {
    gg:
      columns(22px 22px)
      gutters(6px, 0)
      technique(negative-margin)
      support(float);
  }
  &__control-item {
    width: 1.375rem;
    height: 1.375rem;
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

.list-icon {
  height: .9375rem !important;
}

[type='text'].new-task,
[type='text'].new-subtask {
  padding: .4rem .5rem;
  border-color: $primary-color;
  position: relative;
  background-image: url(./imgs/add-item.png);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  width: 95%;
  max-width: 31.25rem;
  display: block;
  margin: 0 auto .8rem;
}