@import '~@/assets/stylesheets/config/main.scss';

.sub-tasks {
  list-style-type: none;
  padding-right: 2.9rem;
}

label {
  display: inline-block;
}

.destroy-task {
  background-color: transparent;
  border: none;
  background-image: url(./imgs/delete-subtask.png);
  background-repeat: no-repeat;
  width: .9375rem;
  height: .9375rem;
  float: right;
}

.sub-tasks {
  margin-top: .48rem;
  margin-left: 1.1rem;
}

.sub-task {
  margin-bottom: .25rem;
}
