@import '~@/assets/stylesheets/config/main.scss';

.tasks {
  width: 83.333% !important;
  margin-top: .4375rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}