label {
  display: none;
}

[type='text'],
[type='password'],
[type='email'] {
  width: 100%;
  padding: .8rem;
  border-radius: .3rem;
  border: .0625rem solid $gray;
  outline: 0;
  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 10px $primary-color;
  }
}

input::placeholder {
  color: $darken-gray;
}

[type='checkbox'] {
  display: none;
  & + label {
    position: relative;
    margin-left: 1.6rem;
    &::before {
      cursor: pointer;
      position: absolute;
      content: '';
      width: .9375rem;
      height: .9375rem;
      border: .0625rem solid $green;
      left: -1.6rem;
      top: 50%;
      transform: translateY(-50%);
      transition: .3s;
    }
  }
  &:checked + label:before {
    border-top: none;
    border-left: none;
    width: .625rem;
    top: 35%;
    left: -1.625rem;
    transform: translateY(-50%) rotate(35deg);
    transition: .3s;
  }
}