label {
  display: none;
}

[type='text'],
[type='password'],
[type='email'] {
  width: 100%;
  padding: .8rem;
  border-radius: .3rem;
  border: .0625rem solid $gray;
  outline: 0;
  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 10px $primary-color;
  }
}

input::placeholder {
  color: $darken-gray;
}
